@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}