@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}